.map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 520px;
}
.map-container .selected {
  border: solid 2px black;
  box-sizing: border-box;
}

.map-container img {
  height: 100px;
  width: 100px;
}

.tile-container img {
  flex: 1 0 45%; /* explanation below */
  margin: 2px;
  height: 100px;
  width: 100px;
}
