.map-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 520px;
  margin: 20px;
  margin: auto;
  justify-content: center;
}
.map-container .selected {
  border: solid 2px #503339;
  box-sizing: border-box;
}

.map-container img {
  height: 100px;
  width: 100px;
}

.grid {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
}

.tile-container {
  background-color: #503339;
}

.tile-container img {
  flex: 1 0 45%;
  margin: 2px 2px 0px 2px;
  height: 100px;
  width: 100px;
  box-shadow: 1px 1px rgb(237, 210, 136);
}
