.ResourceLine img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 5px 1px #9c6958;
}

.ResourceLine {
  display: flex;
  margin: 10px;
  background-color: #503339;
  border-radius: 20px;
  box-shadow: 1px 1px #9c6958;
}
.ResourceLine p {
  color: beige;
  margin-right: 10px;
  font-family: "Gilda";
  font-size: 25px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(254, 126, 126, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
}

.overlay:target {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.show {
  display: block;
}

.popup {
  position: relative;
  top: 50%;
  margin: 0 auto;
  background: white;
  padding: 1em 2em;
  border-radius: 4px;
}
